node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

dist/
build/

jspm_packages/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
Thumbs.db